#============== StrandPhaseR configuration file ===============#

[General]
numCPU  =  2 
chromosomes  =  c(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22) 
pairedEndReads  =  TRUE 
min.mapq  =  10 

[StrandPhaseR]
positions  =  'Platinum_NA12878_SNP_allChroms' 
WCregions  =  <downsampledWCregions> 
min.baseq  =  20 
num.iterations  =  2 
translateBases  =  TRUE 
fillMissAllele  =  'NA12878_merged.bam' 
splitPhasedReads  =  TRUE 
callBreaks  =  FALSE 
exportVCF  =  'NA12878' 
bsGenome  =  'BSgenome.Hsapiens.UCSC.hg19' 
